<% if(errors && errors.length > 0){ %>

    <article class="alert alert-danger mt-4">

        <ul class="mb-0">    
            <% for(error of errors){ %>
                <li><%= error %></li>
            <% } %>   
        </ul>

    </article>

<% } %>

