<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Traveler</title>
    <link href="https://fonts.googleapis.com/css?family=Inter:300,400,600,700" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        :root {
            --bs-body-font-family: Inter, system-ui;
        }


        .scale-up {
            position: relative;
            transition: transform 0.2s linear;
        }


        .scale-up:hover {
            transform: translateY(-10px);
        }

        .h-15{ 
            height: 15rem;
        }

        .form-control:focus{ box-shadow: none; }


    </style>
</head>

<body>


<%- include('../partials/navbar') %>

<div class="col-md-10 col-lg-8 px-4 mx-auto">
    <%- include('../partials/success') %>
    <%- include('../partials/errors') %>
</div>