<%- include('../partials/header') %>


<!-- Main Content-->
<div class="container px-4 px-lg-5 col-md-10 col-lg-6">

    <div class="border rounded p-4 mb-5">

        <h4 class="mb-3">Login</h4>

        <form action="/login" method="POST">

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
                <label for="email">Email address</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                <label for="password">Password</label>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>


        </form>

    </div>

</div>

<%- include('../partials/footer') %>